<div class="container p-6">
  <div class="columns is-centered is-vcentered">
    <div class="column is-two-fifths">
      <h2 class="mb-6 is-size-3 has-text-centered">Edit your Techly account</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class:"label" %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:"Your email" %>
          </div>
        </div>
        <br/>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <div class="label">
            <%= f.label :password %> <i> (leave blank if you don't want to change it)</i>
          </div>
          <div class="control">
            <%= f.password_field :password, autocomplete: "new-password", class:"input", placeholder:"Password" %>
          </div>
          <% if @minimum_password_length %>
            <p class="help"><%= @minimum_password_length %> characters minimum</p>
          <% end %>
        </div>
        <br/>

        <div class="field">
          <%= f.label :password_confirmation, class:"label" %>
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input", placeholder:"Password confirmation" %>
          </div>
        </div>
        <br/>

        <div class="field">
          <div class="label">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          </div>
          <div class="control">
            <%= f.password_field :current_password, autocomplete: "current-password", class:"input", placeholder:"Current password" %>
          </div>
        </div>
        <br/>

        <div class="actions">
          <%= f.submit "Update", class:"button is-primary is-fullwidth is-rounded" %>
        </div>
      <% end %>

      <br />
      <h3>Cancel my account</h3>
      <br />

      <p>Unhappy?</p>
      <br />

      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button is-danger is-light" %>
      <br />

      <%= link_to "Back", :back %>
    </div>
  </div>

</div>
