<br /><br /><br /><br /><br />
<div class="container p-6">
  <div class="columns is-centered is-vcentered">
    <div class="column is-two-fifths">
      <h2 class="mb-6 is-size-3 has-text-centered">Update your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "New password", class:"label" %><br />
          <div class="control">
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"input", placeholder: "New password" %>
          </div>
          <% if @minimum_password_length %>
            <p class="help"><%= @minimum_password_length %> characters minimum</p>
          <% end %>
        </div>
        <br/>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password", class:"label" %><br />
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input", placeholder: "Confirm new password" %>
          </div>
        </div>
        <br/>

        <div class="actions">
          <%= f.submit "Change my password", class:"button is-primary is-fullwidth is-rounded" %>
        </div>
      <% end %>
      <br/>

      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
