<%= render 'layouts/partials/navigation' %>
<%= render 'layouts/edit_description' %>

<div class="columns p-6">

  <div class="column">
    <%= render "layouts/profile_column" %>
  </div>

  <div class="column is-half">
    <%= render "tweets/components/create_tweet" %>
    <br/><br/><br/>
    <%= render "tweets/components/list", tweets: @tweets %>
  </div>

  <div class="column">
    <%= render "layouts/others_column" %>
  </div>

</div>