<%= render 'layouts/partials/navigation' %>
<%= render 'layouts/edit_description' %>

<div class="columns p-6">
  <div class="column">
    <p class="has-text-weight-bold"><%= current_user.nickname %></p>
    <% if current_user.description %>
    <span class="icon">
      <i class="fas fa-home"></i>
    </span>
  <span>Home</span>
</span>
      <p><%= current_user.description %><span><button type="button" class="modal-btn button is-info is-link is-small" data-modal="edit-description-modal">Edit</button></span></p>
    <% else %>
      <br/>
      <button type="button" class="modal-btn button is-info is-light is-small" data-modal="edit-description-modal">Edit your description</button>
    <% end %>

  </div>
  <div class="column">
    <% @tweets.each do |tweet| %>
      <h1><%= tweet.content %></h1>
    <% end %>
  </div>
  <div class="column">
    <h1>Highlights</h1>
  </div>
</div>